/* =================
    Common Css Styles
   =================*/
   body{
       margin: 0;
   }
   p{
       font-family: 'Libre Franklin', sans-serif;
       font-size: 16px;
       color: #6C6C6C;
   }
   .button {
        background: #E02C6D;
        padding: 10px 24px;
        font-family: 'Libre Franklin', sans-serif;
        font-size: 16px;
        text-decoration: none;
        color: #ffff;
   }
   .button i{
        width: 24px;
        height: 24px;
   }

   /* =============
        Fonts
    =============== */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap');

    /* =====================
         Amination Keyframes
    ======================== */

    @keyframes bounce {
        0%{
            top: 158px;
            left: 655px;
        }
        50%{
            top: 550px;
            left: 860px;
        }
        100%{
            top: 245px;
            left: 1200px;
        }

    }
    @keyframes bucket {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }

    /* ---------Heading Styles----------- */

    .heading-bg{
        background: #2D25A0;
        width: 100%;
    }
    
    .animation-items #bounce-ball{
        width: 150px;
        height: 150px;
        position:absolute;
        top: 158px;
        left: 655px;
        opacity: 0.8;
        transform: scale(0.55);
        opacity: 0.8;
        visibility:hidden ;
    }
    .heading-bg:hover #bounce-ball{
        animation: bounce 3s linear  infinite alternate;
        visibility:visible ;
    }
    .animation-items #bucket{
        position: absolute;
        right: 0;
        top: 210px;
        transform: rotate(236deg) scale(0.65);
        opacity: 0;
    }
    .heading-bg:hover #bucket{
        animation: bucket 3s linear 3s infinite alternate;
    }
    .heading-area{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 80px 150px;
        height: 500px
    }
    .heading-title h1{
        font-family: 'Poppins', sans-serif;
        font-size: 64px;
        color: #ffff;
        width: 490px;
    }

    .heading-banner img{
        width: 556px;
        height: 438px;
        margin-left: 50px;
    }
    
    /* ============================= 
         Players Content Styles
     ==============================*/
     .container{
         display: flex;
         justify-content: center;
         margin-top: 150px;
     }
     .players{
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 27px 30px;
     }
     .player{
        background: #ffff;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        width: 300px;
        height: 450px;
        padding: 15px;
     }

     .player h1{
        font-family: 'Poppins', sans-serif;
        font-size: 28px;
        color: #18191F;
     }

     .player img{
         width: 300px;
         height: 256px;
     }

     /* ==============================
         Football legend Styles
         ============================= */
         .legends-area{
             display: flex;
             flex-direction: column;
             background: #5a7980;
             margin-top: 100px;
             border-radius: 15px;
         }
         .content{
             display: flex;
             justify-content: center;
             align-items: center;
         }

         .legend img{
             width: 300px;
             height: 256px;
             border-radius: 10px;
         }
         .legend figcaption{
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            text-align: left;
            font-style: italic;
         }
         .quotes{
             display: flex;
             align-items: center;
             background: #b5d8e0;
             width: 50%;
             height: 25%;
             border-radius: 10px;
         }
         .quotes img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-left: 12px;
         }

     /* ==============================
       tournament highlights content Styles
       ================================== */
       
       .container-text{
           width: 442px;
       }

       .container-text h1{
          font-family: 'Poppins', sans-serif;
          font-size: 48px;
          color: #0A0826;
       }
       .container-text > p{
           margin-bottom: 26px;
       }
       .container-image{
           margin-left: 66px;
       }
       .container-image img{
           width: 567px;
           height: 427px;
       }

       /* ===================
            Footer Styles
        ===================== */
        footer{
            background: url(..//images/footer-bg.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 5px;
        }
        .footer-area{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 150px;
            padding-top: 30px;
            background: url(..//images/footer-left-bg.png);
            background-position: left;
            background-repeat: no-repeat;
            background-size: 40% 90%
        }

        .footer-images img{
            width: 483px;
            height: 110px;
        }
        .footer-text{
            text-align: center;
            margin: 20px;
        }
        .footer-text a{
            padding-right: 10px;
        }
        .footer-text a i{
            width: 32px;
            height: 32px;
            background: #E7E7E8;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
            color:#000000;
            border: 1px solid;
        }
        .footer-text p{
            font-family: 'Libre Franklin', sans-serif;
            font-size: 18px;
            color: #000000;
        }




    

